@import "tailwindcss";

@theme {
  --color-primary: #992120;
  --color-primary-light: #e7e3da;
  --color-success: #10B981;
  --color-success-light: #D1FAE5;
  --color-danger: #EF4444;
  --color-danger-light: #FEE2E2;
  --color-warning: #F59E0B;
  --color-warning-light: #FEF3C7;

  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  :root {
    background-color: #F8F9FA;
    color: #111827;
  }
  
  body {
    font-family: theme('font.sans');
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
